{% extends "events/base.html" %} {% block content %}
<h1>{{ stage.name }}</h1>
<p>Details for this stage and upcoming performances.</p>

{% if performances %}
<ul>
  {% for perf in performances %}
  {{ perf.event.start_datetime|date:"d.m.Y" }}
  
  <li>
    <strong>{{ perf.event.title }}</strong> 
    {{ perf.start_time|date:"g:i a" }}{{ perf.end_time|date:"g:i a" }}
    {% if perf.artist %} by {{ perf.artist.name }}{% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No performances scheduled for this stage.</p>
{% endif %}
{% endblock %}
